doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' href='https://images.thehive-services.com/statusCodes/transparent/200.png')
        title HTTP Status Code #{item.code}
    body
        header
            h1 HTTP Status Code - #{item.code}
            nav
                a(href='/') Home
                a(href=`/${prevId}`) Previous
                a(href=`/${nextId}`) Next
        main
            div(class='row item')
                div(class='column')
                    h3 #{item.title}
                    img(src=`${item.display_img}`)
                div(class='column')
                    h3 Load transparent image
                    pre
                        code https://httphive.com/#{item.id}.png
                    h3 Load framed image
                    pre
                        code https://httphive.com/framed/#{item.id}.png
                    h3 Load json
                    pre
                        code https://httphive.com/#{item.id}.json
            p #{item.description}
        footer
            h4 Created by Melissa Longenberger using Express and Pug
            h4
                a(href='https://github.com/melissa-24/http_status_codes') Source Code